    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #FAFAFA;
        font: 10pt "Tahoma";
    }
    * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .page {
        width: 297mm;
        min-height: 210mm;
        padding: 20mm;
        margin: 10mm auto;
        border: 1px #FFFFFF solid;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
    .subpage {
        padding: 0cm;
        height: 210mm;
        outline: 2cm #FFFFFF solid;
    }
	
	.bolder{
		border:1px solid black;
	}
	
	.garis{
		border-bottom:1px solid black;
	}
	
	.kepala-surat{
		margin-top:0px;
		margin-bottom:0px;
		font-size:12pt;
	}
	
	.text{
		padding:0.5mm;
	}
	
	.tb1{
		border-collapse: collapse;
	}
	
	.tb1 tr td{border:1px black solid;text-align:center;
		font-size:8pt;}
	.tb2{
		border-collapse: collapse;
		border:1px black solid;
		width:100%;
	}
	
	.tb2 tr td{
		border:1px solid black;
		
	}
	
    
	
    @page {
        size: A4 landscape;
        margin: 0;
    }
    @media print {
        html, body {
            width: 210mm;
            height: 297mm;        
        }
        .page {
            margin: 0;
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
        }
    }